YOUTUBE_API_KEY=your_api_key_here

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=creators_db
POSTGRES_USER=airflow
POSTGRES_PASSWORD=airflow

AIRFLOW_ADMIN_EMAIL=jeandercarneiro@gmail.com
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=jeandercarneiro@gmail.com
SMTP_PASSWORD=your_gmail_app_password_here
